body, p, h1 { margin:      0 0 0 0;     }
body        { font-family: "Economica"; }
h1          { font-size:   larger;      }

.event .title {
	display: flex;
	flex-direction: row;
}

.event .title span {
	color: #000;
	margin: 0 5px 0 5px;
}

.event.right .title span {
	order: -1;
}

.event.right .title          { justify-content: flex-end; }
.event, .event year-pin      { position:        absolute; }
.event.right year-pin::after { content:         '\25D6';  }
.event.left  year-pin::after { content:         '\25D7';  }

.event.right {
	right: 52%;
	text-align: right;
}

.event.left {
	left: 52%;
	text-align: left;
}

#index {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 50%;
	left: 15px;
	padding: 5px;
	border: 1px black solid;
	background-color: white;
	font-weight: bold;
	text-transform: uppercase;
}

#divider {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 48.5% 0 48.5%;
	background-color: #EEE;
	height: 92%;
	width: 3%;
	z-index: -10;
}

#divider span {
	position: relative;
	font-weight: bold;
	color: #888;
	text-align: center;
	transform: rotate(90deg);
	transform-origin: middle center 0;
}