body, p, h1 { margin:      0 0 0 0;     }
body        { font-family: "Economica"; }
h1          { font-size:   larger;      }

.event .title span {
	color: #000;
	position: absolute;
	top: 10px;
}

.event, .event year-pin { position: absolute; }
.event year-pin::after  { content:  '\25C0';  }

.event { 
	max-width: 33%;
	left: 22%;
}

#index {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 70%;
	right: 15px;
	padding: 5px;
	border: 1px black solid;
	background-color: white;
	font-weight: bold;
	text-transform: uppercase;
}

#divider {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 0 15%;
	background-color: #EEE;
	height: 92%;
	width: 3%;
	z-index: -10;
}

#divider span {
	position: relative;
	font-weight: bold;
	color: #888;
	text-align: center;
	transform: rotate(90deg);
	transform-origin: middle center 0;
}